<div class="container ">
  <div class="row w-100 blue">
    <div class="col-lg-3 blue-100">blue-100</div>
    <div class="col-lg-3 blue-200">blue-200</div>
    <div class="col-lg-3 blue-300">blue-300</div>
    <div class="col-lg-3 blue-400">blue-400</div>
  </div>
  <span class="badge text-bg-primary">Primary</span>
</div>