<div class="split-sidebar fixed-w-250 h-100 bg-white p-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>入学者一覧</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "新規作成", new_freshman_path, {class: ""} %></td>
      </tr>
      <% freshmans.each do |freshman| %>
        <tr>
          <td><%= "#{freshman.student.last_name} #{freshman.student.first_name}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>