<div class="split-sidebar fixed-w-250 h-100 bg-white p-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>機能一覧</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">新規作成</a></td><%#= link_to "新規作成", new_section_path, {class: ""} %>
      </tr>
      <tr>
        <td><a href="#">一覧／編集</a></td>
      </tr>
      <tr>
        <td><a href="#">CSV入出力</a></td>
      </tr>
    </tbody>
  </table>
</div>