<nav class="navbar bg-cyan-100 py-3">
  <div class="container-fluid">
    <%# ヘッダー左 %>
    <div>
      <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-expanded="false" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"><%= embedded_svg("navbar-toggler-icon.svg") %></span>
      </button>
      <span class="navbar-brand px-2">校務支援システム(仮)</span><%# "navbar-brand"は本来リンク用 %>
    </div>

    <%# ヘッダー右 %>
    <div>
      <span><%= "#{@logined_term.year.name} #{@logined_term.term.name}" %></span>
      <span class="pe-2"><%= current_user.name %></span>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button type="button" class="btn btn-primary">ログアウト</button><%# btn-cyan-700 %>
      <% end %>
    </div>

    <%# ドロワー %>
    <div class="offcanvas offcanvas-start bg-cyan-100" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <div class="navbar-brand">校務支援システム(仮)</div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
      </div>
      
      <div class="offcanvas-body bg-white px-1">
        <ul class="list-unstyled ps-2">
          <li class="mb-1">
            <%# コマンド一覧の展開／収納をコントローラで切り替え %>
            <% if controller_name=="users" %><%# 展開時 %>
              <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#task-collapse" aria-expanded=true>
                グループウェア
              </button>
              <div class="collapse show" id="task-collapse"><%# このdiv開始タグはifを出た後につづく %>
            <% else %><%# 収納時 %>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#task-collapse" aria-expanded=false>
                グループウェア
              </button>
              <div class="collapse" id="task-collapse"><%# このdiv開始タグはifを出た後につづく %>
            <% end %>
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <%#= link_to item_path(item) do %>
                <li><%#= link_to "ダッシュボード", tasks_path, {class: "link-dark rounded"} %></li>
                <li><a href="#" class="link-dark rounded">プロジェクト管理</a></li>
              </ul>
            </div>
          </li>

          <li class="border-top my-3"></li>


          <li class="border-top my-3"></li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#staff-collapse" aria-expanded="false">
              職員管理
            </button>
            <div class="collapse" id="staff-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">新規登録</a></li>
                <li><a href="#" class="link-dark rounded">一覧</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              アカウント管理
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><%#= link_to "新規登録", new_user_registration_path, {class: "link-dark rounded"} %></li>
                <li><%#= link_to "一覧", users_path, {class: "link-dark rounded"} %></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
