<div class="split-sidebar fixed-w-300 h-100 bg-white p-3">
  <span><%= @today_str %></span><br><br>
  <%= link_to contact_path(0) do %>
      <button type="button" class="btn btn-outline-success">取得（手動）</button>
  <% end %>
</div>