<div class="split-sidebar fixed-w-250 h-100 bg-white p-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>コード</th>
        <th>学期</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>X00</td>
        <td><%= link_to "新規作成", new_term_path, {class: ""} %></td>
      </tr>
      <% terms.each do |term| %>
        <tr>
          <td><%= term.code %></td>
          <td><%= term.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>