<%= render "shared/navbar" %>
<div class="split w-100 vh-100">
  <%= render 'freshmans/shared/freshman_list', {freshmans: @freshman_students} %>
  <%#= render 'freshmans/shared/freshman_list' %>

  <div class="split-main w-100-fixed-250 h-100 bg-gray-200 p-3">
    ここに表示されます。<br>
    個別入力用の「新規登録」は他の登録画面と同じ<br>
    「一覧／編集」は取得してスプレッドシートに表示させる<br>
    変更・削除フラグ用のカラムを1つ追加して、更新ボタンでpostする<br>
    「CSV入出力」では、雛形生成から送信での一括登録機能実装<br>
    <br>
    …と思ったが、ひとまずレイアウトに関しては後回しにして、<br>
    CRUD機能を優先して実装していくことにする
  </div>
</div>