<%= render "shared/navbar" %>

<%# <div class="split mx-3"> %>
<div class="row flex-row-reverse mx-3" style="padding-top: 72px;">
  <% if flash[:alert] %>
    <%#= content_tag(:div, flash[:alert], class: "alert alert-danger") %>
  <% end %>
  
  <%# <div style="display:table-cell;width:30vw;"> %>
  <div class="col-lg-3">
    <div class="p-3">
      【カレンダー】
      <table class="design09 my-2">
        <thead>
          <tr>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
            <th>日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
          </tr>
          <tr>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
          </tr>
          <tr>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
          </tr>
          <tr>
            <td>30</td>
            <td>31</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%# <div style="display:table-cell;width:70vw;"> %>
  <div class="col-lg-9">
    <div class="row p-3"> 
      <div class="col-md-12 p-1">
        【行事予定】
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月16日(月)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月17日(火)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月18日(水)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月19日(木)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月20日(金)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-1 p-1">
        <div class="calendar-cel border">5月21日(土)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-1 p-1">
        <div class="calendar-cel border">5月22日(日)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>

      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月23日(月)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月24日(火)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月26日(水)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月27日(木)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-2 p-1">
        <div class="calendar-cel border">5月28日(金)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-1 p-1">
        <div class="calendar-cel border">5月29日(土)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
      <div class="col-md-1 p-1">
        <div class="calendar-cel border">5月30日(日)</div>
        <div class="calendar-cel border mt-1"><br><br><br><br><br><br><br></div>
      </div>
    </div>
  </div>

</div>
<div class="mx-3 p-2 w-75">
  【お知らせ】
  <ul class="news-list">
    <li class="item">
        <a href="#">
            <p class="date">2022/5/20</p>
            <p class="category"><span>お知らせ</span></p>
            <p class="title">ここにお知らせが入りますここにお知らせが入りますここにお知らせが入ります</p>
        </a>
    </li>
    <li class="item">
        <a href="#">
            <p class="date">2022/5/21</p>
            <p class="category"><span>お知らせ</span></p>
            <p class="title">ここにお知らせが入りますここにお知らせが入りますここにお知らせが入ります</p>
        </a>
    </li>
  </ul>
</div>