<%= render "shared/navbar" %>
<div class="split w-100 vh-100">
  <%= render 'annual_teachers/shared/annual_teacher_list', {teachers: @teachers} %>

  <div class="split-main w-100-fixed-250 h-100 bg-gray-200 p-3">
    ここに表示されます。
  </div>
</div>