<%= render "shared/navbar" %>
<div class="split w-100 vh-100">
  <%= render 'subjects/shared/subject_list', {subject_areas: @subject_areas} %>

  <div class="split-main w-100-fixed-250 h-100 bg-gray-200 p-3">
    ここに表示されます。
  </div>
</div>